// @import url("");

@font-face {
  font-family: 'AmaticSC-Bold';
  src: url("../fonts/AmaticSC-Bold.ttf") format("opentype");
}

// *** ~~~~~~~~~ MAIN / BODY / UNIVERSAL ~~~~~~~~~~~~~~~~~~~

* {
  padding: 0;
  margin: 0;
}

#root {
  // line-height: 24px;
  font-size: 18px;
  font-weight: bolder;
  font-family: "AmaticSC-Bold", sans-serif;
  font-weight: 500;
  color: white; 
  background-color: lightgrey;
}

a, Link{
  text-decoration: none;
  color: inherit;
}

a:hover, Link:hover{
  color: #667dff;
  text-shadow: rgba(0, 0, 0, 0.694) 1px 1px;
  border-color: #667dff;
}

#manageJobPostsLink{
  color: #fff;
  background-color: #212529;
  border-color: #212529;
  padding: 5px;
  margin-top: 15px;
  width: 100%;
  text-align: center;
}

#manageJobPostsLink:hover{
  color: #667dff;
  text-shadow: rgba(0, 0, 0, 0.694) 1px 1px;
  border-color: #667dff;
}

// *** ~~~~~~ WRAPERS

.allBusinessesWrapper, .allEmployeesWrapper, .allJobsWrapper, .mainPageWrapper, .profileCreationWrapper, .businessProfileWrapper, .employeeProfileWrapper, .publicEmployeeProfileWrapper, .publicBusinessProfileWrapper, .manageJobsPageWrapper{
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  align-items: center;
  min-height: 90vh;
  text-shadow: rgba(0, 0, 0, 0.694) 1px 1px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../media/cityscape/cityscape6.png');
  background: center;
}

.allBusinessesWrapper{
  background-image: url('../media/cityscape/cityscape6.png');
}
.allEmployeesWrapper{
  background-image: url('../media/cityscape/cityscape6.png');
} 
.allJobsWrapper{
  background-image: url('../media/cityscape/cityscape6.png');
}
.mainPageWrapper{
  background-image: url('../media/cityscape/cityscape6.png');
}
.profileCreationWrapper{
  background-image: url('../media/cityscape/cityscape6.png');
}
.businessProfileWrapper{
  background-image: url('../media/cityscape/cityscape6.png');
}
.employeeProfileWrapper{
  background-image: url('../media/cityscape/cityscape6.png');
}
.publicEmployeeProfileWrapper{
  background-image: url('../media/cityscape/cityscape6.png');
}
.publicBusinessProfileWrapper{
  background-image: url('../media/cityscape/cityscape6.png');
}
.manageJobsPageWrapper{
  background-image: url('../media/cityscape/cityscape6.png');
}


// *** ~~~~~~~~~ DISPLAY ALL GRIDS ~~~~~~~~~~~~~~~~~~~

.allJobsGrid, .allBusinessesGrid, .allEmployeesGrid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 90vw;
  min-width: 420px;
}


// *** ~~~~~~~~~ CARDS ~~~~~~~~~~~~~~~~~~~

.applicantCardWrapper, .businessCardWrapper, .jobCardWrapper, .employeeCardWrapper, .manageJobTopHalf{
  // width: 190px;
  // height: 190px;
  margin: 10px;
  border: 1px solid rgb(235, 235, 235);
  padding: 5px;
  border-radius: 3px;
  background-color: #bdbdbd;
  display: flex;
  max-width: 450px;
  transition: transform 0.2s ease;
}
.applicantCardWrapper{
  display: flex;
}
.applicantNotImage{
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

// .applicantCardWrapper button{

// }

// .manageJobWrapper{

// }

.businessCardWrapper:hover, .employeeCardWrapper:hover, .applicantCardWrapper:hover{
  border-color: #667dff;
}

#expandJobCard{
  max-width: 80px;
}

.jobCardButtons{
  display: flex;
  justify-content: space-between;
  align-items: bottom;
}

.jobCardImage, .businessCardImage, .employeeCardImage{
  margin-left: 5px;
  margin-right: 10px;
}

.jobCardNotImage, .businessCardNotImage, .employeeCardNotImage{
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  margin-right: 10px;
}

.jobCardBusinessLink a{
  color: #ffffff;
  background-color: rgb(212, 206, 206);
  border: 1px solid #21252993;
  padding: 2px;
  border-radius: 3px;
}

.jobCardBusinessLink a:hover{
  color: #667dff;
  border-color: #667dff;
}

.jobCardSubheading{
  display: flex;
  justify-content: space-between;
}

// *** TO USE

//CLASS jobCardImage, jobCardLocRole, jobCardBusinessLink, jobCardMaxedData, jobCardMinData
//ID expandJobCard, jobCardTitle jobCardBusinessLink



// .cardWrapper:hover {
//   transform: scale(1.1);
//   color: #f5d075;
//   border-color: #fc7c00;
// }

// #cardLink{
//   color: inherit;
//   text-decoration: none;
// }

// #cardTitle{
//   white-space: nowrap;
//   text-align: center;
//   width: 95%;
// }

// .thumbnail {
//   width: 100%;
//   border: 2.5px solid #af8f4d;
//   border-radius: 2px;
// }

// .matchCardData{
//   width: 90%;
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   margin: 5px;
//   margin-bottom: 0;
//   align-items: center;
// }

// #cardRating{
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   width: 33%;
// }

// #cardViews{
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   width: 28%;
// }

// #cardViewsNumber{
//   width: 40%;
// }


// #cardEye{
//   color: #af8f4d;
//   width: 60%;
// }


// *** ~~~~~~~~~ BUTTONS ~~~~~~~~~~~~~~~~~~~

button{
  font-size: 20px;
  font-weight: bolder;
  color: #fff;
  background-color: #212529;
  border-color: #212529;
  padding: 4px;
  width: 100%;
}

button:hover{
  background-color: #404850;
  color: #b7c1fa;
  border-color: #b7c1fa;
}

.sureButton{
  display: none;
}

// *** ~~~~~~~~~ FORMS ~~~~~~~~~~~~~~~~~~~

form {
  display: flex;
  flex-direction: column;
}

#toggleUserBusinessBox, .userUpdateFormWrapper, #logForm, #bizForm, #regForm, #businessProfileUpdateForm, #manageJobsPostJobsForm, .createJobPostWrap{
  max-width: 50%;
  min-width: 300px;
  font-size: 20px;
  margin: 10px;
  border: 1px solid rgb(235, 235, 235);
  padding: 5px;
  border-radius: 3px;
  background-color: #bdbdbd;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.userUpdateFormWrapper p{
  min-width: 420px;
  width: 33%;
  margin-bottom: 0;
}
.userUpdateFormWrapper form{
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}
.userUpdateFormWrapper input{
  flex-grow: 5;
}
.userUpdateFormWrapper button{
  width: 60px;
}
.userUpdateFormWraps{
  display: flex;
}

.formLabelInputWrap{
  width: 100%;
  display: flex;
  margin-top: 2px;
  margin-bottom: 2px;
}

#formLabelInputWrapTextareaCV, #formLabelInputWrapTextareaCL{
  display: flex;
  flex-direction: column;
}

#businessProfileUpdateForm{
  align-items: center;
  min-width: 420px;
  width: 33%;
}

.updateBusinessProfileForms{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#updateBusinessProfileInnerBox{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 100%;
}
#updateBusinessProfileInnerBox p{
  margin: 0;
}
#updateBusinessProfileInnerBox form{
  margin-bottom: 10px;
}

#businessProfileUpdateForm input{
  flex-grow: 5;
}

.updateBusinessButton{
  width: 60px;
}

#manageJobsPostJobsForm{
  border-color: #bdbdbd;
  width: 100%;
  margin: 0;
}
.manageJobNotImage form{
  display: flex;
  flex-direction: row;
}
.manageJobNotImage input{
  width: 200px;
}
.manageJobNotImage button{
  width: 60px;
}
.manageJobImage{
  margin-right: 10px;
}
.manageJobTopHalf{
  display: flex;
  flex-direction: column;
}
.manageJobInfo{
  display: flex;
}
.manageJobButtons{
  margin-top: 10px;
  display: flex;
}

// .manageBottomHalf{

// }

#logForm label, #regForm label, #businessProfileUpdateForm label, #manageJobsPostJobsForm label{
  flex-grow: 1;
}

#logForm input, #regForm input, #businessProfileUpdateForm input, #manageJobsPostJobsForm input{
  flex-grow: 4;
}

#logForm{
  min-width: 300px;
}

#manageJobsPostJobsForm select{
  max-width: 80%;
}

// .createJobPostWrap{

// }

.postJobPostInputWrappers{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.postJobPostInputWrappers input{
  flex-grow: 5;
  text-align: center;
}

.postJobPostInputWrappers select{
  flex-grow: 5;
  text-align: center;
}

#postJobTextArea{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

// *** ~~~~~~~~~ FILTERS ~~~~~~~~~~~~~~~~~~~
//jobFilterWrapper businessFilterWrapper employeeFilterWrapper
.jobFilterWrapper, .businessFilterWrapper, .employeeFilterWrapper{
  display: flex;
  justify-content: space-between;
}

.jobFilterWrapper input, .businessFilterWrapper input, .employeeFilterWrapper input{
  display: flex;
  text-align: center;
}

.jobFilterWrapper select, .businessFilterWrapper select, .employeeFilterWrapper select{
  display: flex;
  text-align: center;
}

// *** ~~~~~~~~~ H ELEMENTS - TITLES ~~~~~~~~~~~~~~~~~~~

// *** ~~~ header / title stuff

h1, h2{
  text-align: center;
}

#logTitle, #regTitle, #userUpdateTitle, #jobCardTitle, #biztitle, #employeeCardTitle, #businessCardTitle, #businessProfileTitle, #manageJobPostsTitle, #emptitle{
  color: #fff;
  background-color: #363d43;
  border-color: #363d43;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
}

// *** ~~~~~~~~~ IMAGES ~~~~~~~~~~~~~~~~~~~




// *** ~~~~~~~~~ NAV BAR ~~~~~~~~~~~~~~~~~~~

#navbar{
  background-color: rgb(148, 137, 137);
  border-bottom: 1px solid white;
}

#navwrap{
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logReg{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(50% - 100px);
}

#navLink {
  background-color: rgb(148, 137, 137);
  padding: 5px 10px 5px 10px;
  color: white;
  font-size: larger;
  font-weight: bold;
  text-shadow: rgba(0, 0, 0, 0.694) 1px 1px;
  text-decoration: none;
  color: inherit;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

#navLinkLogout {
  padding: 5px 10px 5px 10px;
  background-color: rgb(148, 137, 137);
  color: white;
  font-size: larger;
  font-weight: bold;
  text-shadow: rgba(0, 0, 0, 0.694) 1px 1px;
  text-decoration: none;
  color: inherit;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

#navLink:hover {
  background-color: rgb(194, 192, 192);
  color: #667dff;
  text-shadow: rgba(0, 0, 0, 0.694) 1px 1px;
  border-color: #667dff;
}

#navLinkLogout:hover {
  background-color: rgb(194, 192, 192);
  color: #667dff;
  text-shadow: rgba(0, 0, 0, 0.694) 1px 1px;
  border-color: #667dff;
}


// *** ~~~~~~~~~ FOOTER ~~~~~~~~~~~~~~~~~~~

#footWrap{
  border-top: 1px solid white;
  margin-top: 0;
  height: 50px;
}
#footer{
  color: rgba(94, 94, 94, 0.886);
  font-size: 20px;
  margin-left: 100px;
  margin-right: 100px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftText{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 180px;
}

.ourLinks{
  margin-left: 5px;
  text-decoration: none;
  color: inherit;
}

.ourLinks:hover{
  color: white;
}

#footerUl1, #footerUl2{
  display: flex;
}

.hoverList:hover{
  color: white;
  text-shadow: rgba(0, 0, 0, 0.694) 1px 1px;
}



// *** ~~~~~~~~~ ALL JOBS PAGE ~~~~~~~~~~~~~~~~~~~



// *** ~~~~~~~~~ JOB CARD ~~~~~~~~~~~~~~~~~~~


// *** ~~~~~~~~~ ALL BUSINESSES PAGE ~~~~~~~~~~~~~~~~~~~


// *** ~~~~~~~~~ BUSINESS CARD ~~~~~~~~~~~~~~~~~~~


// *** ~~~~~~~~~ ALL EMPLOYEES PAGE ~~~~~~~~~~~~~~~~~~~



// *** ~~~~~~~~~ EMPLOYEE CARD ~~~~~~~~~~~~~~~~~~~



// *** ~~~~~~~~~ PUBLIC BUSINESS PROFILE ~~~~~~~~~~~~~~~~~~~





// *** ~~~~~~~~~ PUBLIC USER PROFILE ~~~~~~~~~~~~~~~~~~~



// *** ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


// *** ~~~~~~~~~ LOGIN AND REGISTER ~~~~~~~~~~~~~~~~~~~




// *** ~~~~~~~~~ PROFILE CREATION ~~~~~~~~~~~~~~~~~~~

#toggleUserBusinessBox{
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-right: 15px;
  padding-left: 15px;
}

// *** ~~~~~~~~~ PRIVATE BUSINESS PROFILE ~~~~~~~~~~~~~~~~~~~



// *** ~~~~~~~~~ MANAGE JOBS PAGE ~~~~~~~~~~~~~~~~~~~





// *** ~~~~~~~~~ PRIVATE USER PROFILE ~~~~~~~~~~~~~~~~~~~


